#ardoraMain{ font-family:Tahoma, Geneva, sans-serif;background-color:#FFFDFD; position: relative;}
#ardoraEnu{ font-size: 14px; position: relative; margin-bottom: 10px;
text-align: justify;
}
#ardoraAct{text-align: center;}
