/*Creado con Ardora - www.webardora.net
bajo licencia Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
para otros usos contacte con el autor*/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {line-height: 1.15;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
article,aside,footer,header,nav,section {display: block;}
h1 {font-size: 2em;margin: 0.67em 0;}
figcaption,figure,main {display: block;}
figure {margin: 1em 40px;}
hr {box-sizing: content-box;height: 0;overflow: visible;}
pre {font-family: monospace, monospace;font-size: 1em;}
a {background-color: transparent;-webkit-text-decoration-skip: objects;}
abbr[title] {border-bottom: none;text-decoration: underline;text-decoration: underline dotted;}
b,strong {font-weight: inherit;}
b,strong {font-weight: bolder;}
code,kbd,samp {font-family: monospace, monospace;font-size: 1em;}
dfn {font-style: italic;}
mark {background-color: #ff0;color: #000;}
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
audio,video {display: inline-block;}
audio:not([controls]) {display: none;height: 0;}
img {border-style: none;}
svg:not(:root) {overflow: hidden;}
button,input,optgroup,select,textarea {font-family: sans-serif;font-size: 100%;line-height: 1.15;margin: 0;}
button,input {overflow: visible;}
button,select {text-transform: none;}
button,html [type="button"],[type="reset"],[type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {border-style: none;padding: 0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset{padding: 0.35em 0.75em 0.625em;}
legend {box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal;}
progress {display: inline-block;vertical-align: baseline;}
textarea {overflow: auto;}
[type="checkbox"],[type="radio"] {box-sizing: border-box;padding: 0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"]{-webkit-appearance: textfield;outline-offset: -2px;}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
details,menu {display: block;}
summary {display: list-item;}
canvas {display: inline-block;}
template{display: none;}
[hidden]{display: none;}
/*!END normalize.css v7.0.0*/
.ui-corner-all{ -webkit-border-radius: 4px; border-radius: 4px;}
body{background-color:black;}
#ardoraMain{ font-family:Tahoma, Geneva, sans-serif; color: #000000; padding: 5px; position: relative;}
#ardoraEnu{ font-size: 12px; position: relative; padding: 5px; margin-bottom: 10px;
text-align: justify;
}
#ardoraAlumSCORM{visibility: hidden;padding:0px;margin:0px;position: absolute;height: 15px;width: 250px;bottom: 0px;right: 0px;cursor: pointer;border-style: dotted;
border-width: 1px;-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);font-size: 10px;
background:rgba(255,128,0,0.5);}
#ardoraAlumSCORM p{padding:0px;margin:0px;padding-left: 2px;}
#buttonOk{ position: absolute; height: 70px; width: 70px; bottom: 0px; cursor: pointer;border-style: solid; border-width: 1px;
-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5); box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);}
#ardoraTabCanvas{width: 70px;border-style: solid;border-width: 1px;-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius:4px;-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50,50,50,0.5);height:137px;} 
.imaCell{display:  table; text-align: center; -webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
position:  absolute; border-color: black; border-style: dotted; border-width: 1px;
width:213px; height: 132px;}
#ardoraActCanvas{z-index: 0; position: absolute; visibility:hidden;}
.imaCell img{ z-index:0;
-moz-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.75); -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.75); box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.75);
}
#ima11 { top:3px;left:3px;background:rgba(255,128,0,0.6);}
#ima12 { top:135px;left:3px;background:rgba(255,128,0,0.6);}
#ima13 { top:267px;left:3px;background:rgba(255,128,0,0.6);}
#ima21 { top:3px;left:216px;background:rgba(255,128,0,0.6);}
#ima22 { top:135px;left:216px;background:rgba(255,128,0,0.6);}
#ima23 { top:267px;left:216px;background:rgba(255,128,0,0.6);}
#ima31 { top:3px;left:429px;background:rgba(255,128,0,0.6);}
#ima32 { top:135px;left:429px;background:rgba(255,128,0,0.6);}
#ima33 { top:267px;left:429px;background:rgba(255,128,0,0.6);}
.imaCell_img{ display: table-cell; vertical-align: middle;cursor: pointer;}
#ardoraAct{background-image: url(../media/original.jpg);width:639px; height:396px;position: relative; margin-right: 10px; padding: 5px; float: left;
}
#ardoraTab{width: 70px;height:320px; position: relative; visibility: visible;padding:5px;float:left;}
