/*Creado con Ardora - www.webardora.net
bajo licencia Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
para otros usos contacte con el autor*/
@font-face {font-family: "Ardora_arrows";src: url("fonts/ardoraArrows/Ardora_arrows.eot");src: local("?"), url("fonts/ardoraArrows/Ardora_arrows.woff") format("woff"),
url("fonts/ardoraArrows/Ardora_arrows.ttf") format("truetype"), url("fonts/ardoraArrows/Ardora_arrows.svg") format("svg");font-weight: normal;font-style: normal;}
html{height:100%}
#ardoraActCanvas{z-index: 0; position: absolute; visibility:hidden;top:0; left:5px;}
.ui-corner-all{ -webkit-border-radius: 4px; border-radius: 4px;}
body{overflow: hidden;}
#ardoraMain{padding: 5px; position: relative;}
#ardoraEnu{ font-family:Tahoma, Geneva, sans-serif;font-size: 12px; position: relative; padding: 5px; margin-bottom: 10px;
text-align: justify;
}
area{cursor: pointer;}
#ardora_zoom {width:100%;margin:0;height:100%;}
a img {border:none;}
#zoomer{width:497px;height:467px;display:block;overflow:hidden;margin: 0 auto;border:2px solid;border-color:#000000; padding: 0px;}
#zoomer_image {display:block;position:absolute;}
#leftB{text-align: center;z-index:5; float: left;}
#leftB p{ width: 25px; padding:0; margin: 5px;  text-align: center; bottom: 5px; position: absolute;}
#rightB{ width:38px; text-align: center; z-index:5; float: right;}
#rightB p{ width: 25px; padding:0; margin: 5px; text-align: center; bottom: 5px; position: absolute;}
.butfont{ height:25px; font-family:"Ardora_arrows",Sans-Serif; font-size: 20px; cursor: pointer; border:1px #666;border-style:solid;color:black;background-color:#FFFFFF;
opacity:1;box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5); border-radius:4px; margin-right: 5px;}
.butfont:hover{box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.5); color:#FFFFFF; background-color:black;}
.ui-dialog{z-index:100;background-color:#FFFFFF; color:black; border:1px #666;border-style:solid; box-shadow: 4px 4px 4px 4px rgba(50, 50, 50, 0.5);}
.ui-dialog-titlebar{padding: 3px; height: 35px; cursor: move; opacity: 0.5; filter: Alpha(Opacity=50);}
.ui-dialog-titlebar-close{float: right; font-family:"Ardora_arrows",Sans-Serif; font-size: 20px; width: 25px; height: 25px;
height:25px; font-family:"Ardora_arrows",Sans-Serif; font-size: 20px; cursor: pointer; border:1px #666;border-style:solid;color:#000000;
box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5); border-radius:4px; text-align: center;  background-color: white; padding: 0;}
.ui-dialog-titlebar-close:hover{box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.5); color: white; background-color: black;}
.ui-dialog-content{margin: 5px;}
.ui-widget-overlay {opacity: 0.5; filter: Alpha(Opacity=50); background-color: black;}
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
iframe{width: 100%;height:100%;}
#folderDIV{overflow:hidden;border-radius: 5px;border-style:solid;border-width:1px;border-color:#000000;background-color:#FFFDFD;}
body{background-color:#FFFFFF;}
.divheader{font-size:16px;height:25px;cursor:all-scroll;margin-bottom:5px;padding:3px 3px 3px 10px;color:#000000;text-shadow: 2px 2px gray;background-image:linear-gradient(#FFFFFF,#AEAEAE);font-family:Tahoma, Geneva, sans-serif;}
#player{margin:5px;}
.tooltip, .arrow:after {background-color:#FFFFFF;border:1px solid #000000;}
.tooltip {pointer-events: none;opacity: 0;display: inline-block;position: absolute;padding: 10px 20px;color:#000000;border-radius:18px;margin-top: 10px;text-align: center;max-width:475px;font-stretch: condensed;text-decoration: none;font: 16px Tahoma, Geneva, sans-serif;}
.arrow {width:70px;height:16px;overflow:hidden;position:absolute;left:50%;margin-left:-35px;bottom:-16px;}
.arrow:after {content: "";position: absolute;left:20px;top: -10px;width: 15px;height:15px;transform:rotate(45deg);}
.tooltip.active {opacity:1;margin-top:5px;transition: all 0.2s ease;}
.tooltip.out{opacity:0;margin-top:-20px;}
